<div class="row">
	<div class="small-12 medium-6 columns" id="resume-column-left">
		<div class="row resume-section">
			<h2 class="resume-header">EDUCATION</h2>
			<div class="small-12 columns">
				<div class="row resume-row">
					<h3>Higher education</h3>
					<h4><strong>BEng in Computer Science</strong></h4>
					<h4>University of York</h4>
					<h4>Second-class honours, upper division (2:1)</h4>
				</div>
				<div class="row resume-row">
					<h3>Secondary education</h3>
					<h4>Ayia Fyla Lyceum</h4>
					<h4>Limassol, Cyprus</h4>
					<h4>18.08/20 Apolytirion</h4>
					<h4></h4>
				</div>
			</div>
		</div>
		<div class="row resume-section">
			<h2 class="resume-header">EXPERIENCE</h2>
			<div class="small-12 columns">
				<div class="row resume-row">
					<h3>Big Spaceship (Digital agency)</h3>
					<h4>Full time (September '14 - ongoing)</h4>
					<h4><strong>Technologist Intern</strong></h4>
				</div>
				<div class="row resume-row">
					<h3>Mitrefinch (Software house)</h3>
					<h4>Part time (October '13)</h4>
					<h4><strong>Test Automation Engineer</strong></h4>
				</div>
				<div class="row resume-row">
					<h3>Mitrefinch</h3>
					<h4>Full time (July '13 - September '13)</h4>
					<h4><strong>Software Developer Intern</strong></h4>
				</div>
				<div class="row resume-row">
					<h3>Creative Technology Centre</h3>
					<h3>University of York</h3>
					<h4>Part time (April '13 - May '13)</h4>
					<h4><strong>Technician</strong></h4>
				</div>
				<div class="row resume-row">
					<h3>GK Air (Heating and cooling solutions)</h3>
					<h4>Full time (July '12 - October '12)</h4>
					<h4><strong>Technician Assistant</strong></h4>
				</div>
				<div class="row resume-row">
					<h3>Military service (Conscription)</h3>
					<h4>Cyprus National Guard</h4>
					<h4>Full time (January '12 - June '12)</h4>
					<h4><strong>Private</strong></h4>
				</div>
				<div class="row resume-row">
					<h3>Creazioni di Nicoletti (Furniture and wood shop)</h3>
					<h4>Full time (September '11 - December '11)</h4>
					<h4><strong>Carpenter Assistant</strong></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="small-12 medium-6 columns" id="resume-column-right">
		<div class="row resume-section">
			<h2 class="resume-header">SKILLS</h2>
			<div class="row resume-row">
				<div class="small-12 medium-6 columns">
					<h3>Java</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns">
					<h3>C</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>C#</h3>
				</div>
				<div class="small-12 medium-6 columns"> 
					<div class="rating">
							<i class="fi-asterisk"></i>
							<i class="fi-asterisk"></i>
							<i class="fi-asterisk"></i>
							<i class="fi-asterisk"></i>
							<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Swift</h3>
				</div>
				<div class="small-12 medium-6 columns"> 
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Objective-C</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Javascript</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>HTML/HTML5</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>CSS/CSS3</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>PHP</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Ruby/Rails</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>MySQL</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>		
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>NoSQL</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Automation Testing</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Ranorex</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Lego Mindstorms NXT</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>MBED/CMSIS</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Electronics</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>FTP, SSH, RDP, VNC</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Version Control</h3>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Windows</h3>
				</div>
				<div class="small-12 medium-6 columns"> 
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>MacOS</h3>
				</div>
				<div class="small-12 medium-6 columns"> 
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns"> 						<h3>Linux</h3>
				</div>
				<div class="small-12 medium-6 columns"> 
					<div class="rating">
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk"></i>
						<i class="fi-asterisk light-asterisk"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>